.Product_list_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.Products_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

@media only screen and (max-width: 500px) {
  .Product_list_container {
    // background-color: rgb(151, 121, 121);
  }
}
