.filters_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  //   border: 2px solid red;

  .searchbar {
    color: var(--neutrals-grey-50, #8d8d8d);
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    display: flex;
    padding: 12px;
    align-items: center;
    // gap: 4px;
    // align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--neutrals-grey-30-borders, #c6c6c6);
    background: var(--neutrals-white, #fff);
    width: 384px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
    }

    input {
      padding: 12px;
      outline: none;
      border: none;
      width: 100%;
    }
  }

  select {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 2px;
    border-radius: 40px;
    border: 1px solid var(--neutrals-grey-30-borders, #c6c6c6);
    background: var(--neutrals-white, #fff);

    .sort_by {
      color: var(--neutrals-grey-100, #161616);
      font-family: Helvetica Neue;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }

    .label {
      color: blue;
      font-family: Helvetica Neue;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
  }

  .sort_dropdown {
    position: relative;

    .btn_sort {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      padding: 12px;
      border-radius: 40px;
      border: 1px solid var(--neutrals-grey-100, #161616);
      background: transparent;
      cursor: pointer;
    }

    .dropdown {
      position: absolute;
      top: 50px;
      right: 0;
      width: 170px;
      // height: 20px;
      // border: 1px solid red;
      border-radius: 5px;
      z-index: 9999;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
      background-color: white;

      .options_wrapper {
        display: block;
        padding: 8px;

        button {
          display: block;
          width: 100%;
          padding: 5px 8px;
          text-align: left;
          margin-bottom: 8px;
          border: none;
          background: white;
          cursor: pointer;
        }
      }
    }
  }

  .category_filter {
    // position: absolute;
    // top: 50px;
    right: 0;
    width: 170px;
    // height: 20px;
    // border: 1px solid red;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: white;
  }
}

@media only screen and (max-width: 500px) {
  .filters_container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .searchbar {
      display: flex;
      width: 342px;
      // flex-direction: column;

      justify-content: center;
      align-items: flex-start;

      display: flex;
      padding: 12px;
      align-items: center;
      gap: 4px;
      // align-self: stretch;

      border-radius: 6px;
      border: 1px solid var(--neutrals-grey-30-borders, #c6c6c6);
      background: var(--neutrals-white, #fff);

      svg {
        width: 24px;
        height: 24px;
      }

      input {
        display: flex;
        padding: 0px 4px;
        align-items: center;
        gap: 2px;
        color: var(--neutrals-grey-50, #8d8d8d);
        font-family: Helvetica Neue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }

  .sort_dropdown {
    .svg1 {
      display: none;
    }
    .btn_sort {
      display: flex;
      width: 342px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 40px;
      border: 1px solid #c6c6c6;
      background: #fff;
    }

    .dropdown {
      .options_wrapper {
        button {
        }
      }
    }
  }
}
